apiVersion: apps/v1
kind: Deployment
metadata:
  name: reservation-service
  labels:
    app: reservation-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reservation-service
  template:
    metadata:
      labels:
        app: reservation-service
    spec:
      containers:
        - name: reservation-service
          image: ghcr.io/zarayach/microservices-pfm/reservation:1.1.4
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: PORT
              value: "80"
            - name: DB_HOST
              value: host.docker.internal  # Replace with DB server address
            - name: DB_PORT
              value: "3307"
            - name: DB_NAME
              value: "microservice_pfm_reservation"
            - name: DB_USER
              value: "root"
            - name: DB_PASSWORD
              value: "root"
            - name: "OAUTH2_JWT_ISSUER_URI"
              value: "https://pfmtimemanagementbackend.eastus.cloudapp.azure.com"
            - name: "OAUTH2_JWK_SET_URI"
              value: "https://pfmtimemanagementbackend.eastus.cloudapp.azure.com/oauth2/jwks"
            - name: "SERVICES_ROOT_URL"
              value: "http://reservation-service"
            - name: "SERVICES_PAYMENT_URL"
              value: "http://payment-service"
            - name: "SERVICES_EVENT_URL"
              value: "http://event-service"
            - name : "OAUTH_CLIENT_SCOPE"
              value: "profile,openid,payment,event"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 80
            initialDelaySeconds: 180
            periodSeconds: 180

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 80
            initialDelaySeconds: 180
            periodSeconds: 180


---
apiVersion: v1
kind: Service
metadata:
  name: reservation-service
spec:
  selector:
    app: reservation-service
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
